{{define "menu"}}
<head>
    <title>{{.Query}}</title>
    <link rel="shortcut icon" href="http://findicons.com/files/icons/2219/dot_pictograms/128/restaurant_food.png"
          type="image/x-icon">
</head>
<link rel=icon href=/favicon.png>
<h1>{{.Query}} recipes</h1>

{{range .Hits}}
    <div style="width: 100%; display: inline-block">
        <div style="float: left;">
            <h3>{{.Recipe.Label}}</h3>
            <a target="_blank" href="{{.Recipe.URL}}">Recipe</a>
            {{range .Recipe.IngredientLines}}
                <li>{{.}}</li>
            {{end}}
        </div>
        <img style="float: right" src="{{.Recipe.Img}}">
    </div>
    <hr>
{{end}}

{{end}}
